@reference "../../../app/globals.css";

.mainGrid {
  display: grid;
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 300ms;
  will-change: transform;
  pointer-events: auto;
  /* Prevent overflow */
  box-sizing: border-box;
  overflow: hidden;
}

.subgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: var(--grid-cell-size);
  height: var(--grid-cell-size);
  position: relative;
  user-select: none;
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
  pointer-events: auto;
  /* Prevent overflow */
  box-sizing: border-box;
}

.cell {
  transition: background 3000ms cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
  height: 100%;
  pointer-events: auto;
  /* Prevent overflow */
  box-sizing: border-box;
}

.cell:nth-child(1) {
  border-right: 1px solid var(--border);
}

.cell:nth-child(3) {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.cell:nth-child(4) {
  border-top: 1px solid var(--border);
}